.chat-main__body--messages-list
  .chat-main__message.clearfix
    .upper__message
      .upper__message-name
        =message.user.name
      .upper__message-time
        = format_posted_time(message.created_at)
    .lower__message
      .lower__message-content
        - if message.content.present?
          = message.content
      = image_tag message.image.url, class: 'lower__message-image' if message.image.present?
