.chat-main{
	height: 100vh;
    width: calc( 100vw - 300px );
    float: left;

    .chat-main__header{
    	height: 15%;
    	border: 1px solid $chat-main-border;

    	.chat-main__header--group.clearfix{
    		margin: 0 40px;

            &:after{
                clear: both;
                content: '';
                display: block;
            }

    		.chat-main__header--group-name{
    			color: $chat-main-group-name;
    			font-size: 20px;
    			margin: 35px 0 15px;
    			float: left;
    		}
    		.chat-main__header--group-edit-btn{
    			color: $chat-main-group-name-border;
    			font-size: 15px;
    			padding: 12.5px 20px;
    			margin: 28px 20px 0;
    			border: 1px solid $chat-main-group-name-border;
    			float: right;
    		}
    	}
    	.chat-main__header-members{
    		color: $chat-main__header-members;
    		font-size: 12px;
    		margin: 0 40px;
    	}
    }
    .chat-main__body{
    	height: calc( 100vh - 15% - 90px );
    	overflow-y: scroll;

    	.chat-main__body--messages-list{
    		padding-top: 26px;
    		padding-left: 40px;

    		.chat-main__message.clearfix{
    			padding: 20px 0;
                .upper__message{
                    display: flex;

        			.upper__message-name{
        				color: #434A54;
        				font-size: 16px;
        				font-weight: bold;
        				float: left;
        			}
        			.upper__message-time{
        				color: #999;
        				font-size: 12px;
        				padding: 0 10px 10px;
        				float: left;
        			}
                }
                .lower__message{
                    margin-top: 10px;

                    .lower__message-content{
                        color: #434A54;
                        clear: both;
                        font-size: 14px;
                        margin-bottom: 10px;
                        p{
                            display: block;
                            margin-block-start: 1em;
                            margin-block-end: 1em;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                        }
                            
                        &:after{
                            clear: both;
                            content: '';
                            display: block;
                        }
                    }
                    .lower__message-image{
                        object-fit: contain;
                        width: 200px;
                    }
                }
    		}
    	}
    }
    .form{
        height: 90px;
        box-sizing: border-box;
        background-color: #DDDDDD;
        padding: 20px 50px 20px 40px;

        .form__message{
            border: none;
            box-sizing: border-box;
            float: left;
            height: 50px;
            padding: 0 10px;
            width: calc( 100% - 150px );
            font-size: 16px;
        }

        .form__mask{
            background-color: #fff;
            float: left;
            height: 50px;
            padding-right: 10px;

            .form__mask__image{
                font-size: 20px;
                line-height: 50px;
            
                .icon{
                    color: black;
                    font-size: 16px;
                }
                .hidden{
                    display: none;
                }
            }
        }
        .form__submit{
            background-color: #38AEF0;
            border: none;
            color: #fff;
            float: right;
            font-size: 16px;
            height: 50px;
            text-align: center;
            margin-left: 15px;
            padding: 0 30px;
        }
    }
}
