// 複数回使用する色を変数で定義する

$chat-side-back: #253141;
$chat-side-name: #FFFFFF;
$chat-side-groups: #2f3e51;
$chat-main-border: #eeeeee;
$chat-main-group-name: #333333;
$chat-main-group-name-border: #38AEF0;
$chat-main__header-members: #999999;
$chat-main__footer: #B8C3C7;